/* Admin skin styles */
.admin {
	#container {
		max-width: 90%;
		min-width: 850px;
		font-size: 1em;
		
		#content {
			min-width: 850px;
		}
	}

	.ui-sortable {
		* {
			@include box-sizing( content-box );
		}
	}
}
